$font-size-base: 16px;
@function PXtoREM($px) {
    @return $px / $font-size-base * 1rem;
}


$label-large-semibold: (
    family: "MacPawFixel-Semibold",
    weight: 600,
    size: PXtoREM(18px),
    height: 28px,
    spacing: 0.25px
);
$label-large-medium: (
    family: "MacPawFixel-Medium",
    weight: 500,
    size: PXtoREM(18px),
    height: 28px,
    spacing: 0.25px
);
$label-large-regular: (
    family: "MacPawFixel-Regular",
    weight: 400,
    size: PXtoREM(18px),
    height: 28px,
    spacing: 0.25px
);
$label-medium-semibold: (
    family: "MacPawFixel-Semibold",
    size: PXtoREM(16px),
    weight: 600,
    height: 24px,
    spacing: 1.3px
);
$label-medium-medium: (
    family: "MacPawFixel-Medium",
    weight: 500,
    size: PXtoREM(16px),
    height: 24px,
    spacing: 0.25px
);
$label-medium-regular: (
    family: "MacPawFixel-Regular",
    weight: 400,
    size: PXtoREM(16px),
    height: 24px,
    spacing: 0.25px
);

$label-small-semibold: (
    family: "MacPawFixel-Semibold",
    weight: 600,
    size: PXtoREM(14px),
    height: 20px,
    spacing: 1.3px
);
$label-small-medium: (
    family: "MacPawFixel-Medium",
    weight: 500,
    size: PXtoREM(14px),
    height: 20px,
    spacing: 0.25px
);
$label-small-regular: (
    family: "MacPawFixel-Regular",
    weight: 400,
    size: PXtoREM(14px),
    height: 20px,
    spacing: 0.25px
);
$body-medium-semibold: (
    family: "MacPawFixel-Semibold",
    weight: 600,
    size: PXtoREM(16px),
    height: 24px,
    spacing: 0.25px
);
$body-medium-medium: (
    family: "MacPawFixel-Medium",
    weight: 500,
    size: PXtoREM(16px),
    height: 24px,
    spacing: 0.25px
);
$body-medium-regular: (
    family: "MacPawFixel-Regular",
    weight: 300,
    size: PXtoREM(16px),
    height: 24px,
    spacing: 0.25px
);
$headline-spec-bold: (
    family: "MacPawFixel-Bold",
    weight: 700,
    size: PXtoREM(24px),
    height: 32px,
    spacing: 1.3px
);
$headline-large-bold: (
    family: 'Lato',
    weight: 700,
    size:PXtoREM(44px),
    height: 52px,
    spacing: 0.25px
);
$headline-small-bold: (
    family: 'Lato',
    weight: 700,
    size:PXtoREM(20px),
    height: 28px,
    spacing: 0.44px
);
$mobile-label-spec-semibold: (
    family: "MacPawFixel-Semibold",
    weight: 600,
    size: PXtoREM(57px),
    height: 64px,
    spacing: 1px
);
$mobile-label-large-medium: (
    family: "MacPawFixel-Medium",
    weight: 500,
    size: PXtoREM(16px),
    height: 24px,
    spacing: 0.5px
);
$mobile-label-medium-regular: (
    family: "MacPawFixel-Regular",
    weight: 400,
    size: PXtoREM(14px),
    height: 21px,
    spacing: 0.1px
);
$mobile-label-small-semibold: (
    family: "MacPawFixel-Semibold",
    weight: 600,
    size: PXtoREM(12px),
    height: 16px,
    spacing: 1px
);
$mobile-body-large-regular: (
    family: "MacPawFixel-Regular",
    weight: 400,
    size: PXtoREM(16px),
    height: 24px,
    spacing: 0.5px
);
$mobile-headline-spec-bold: (
    family: "MacPawFixel-Bold",
    weight: 700,
    size: PXtoREM(24px),
    height: 32px,
    spacing: 1.3px
);
$mobile-headline-small-bold: (
    family: "MacPawFixel-Bold",
    weight: 600,
    size: PXtoREM(20px),
    height: 28px,
    spacing: 0px
);
$mobile-headline-medium-bold: (
    family: 'Lato',
    weight: 700,
    size: PXtoREM(28px),
    height: 36px,
    spacing: 0px
);
$mobile-lato-headline-small-bold: (
    family: 'Lato',
    weight: 700,
    size: PXtoREM(22px),
    height: 32px,
    spacing: 0px
);

// @mixin setFont($name, $weight, $src, $style: normal) {
//     @font-face {
//         font-family: $name;
//         font-weight: $weight;
//         font-style: $style;
//         src: url($src);
//     }
// }

:root {
    font-size: $font-size-base !important;
}